!!!
- @title = "Requested"
%h2 Requested titles
= link_to "Home", root_path, class: "btn btn-primary"
%br
= "Showing #{@movies.total_entries} results"
%table.table.table-striped
  %tr
    %th Title
    %th Year
    %th Format
    %th Requested by
    %th Actions
  - @movies.each do |movie|
    %tr
      %td
        = movie.title
      %td
        = movie.year
      %td
        = movie.rec_form
      %td
        = User.find(movie.user_id).name
      %td
        = button_to "Add", movie_path(movie, "movie[active]" => '1'), confirm: "Add this movie?", method: :put, class: "btn"
        = button_to "Delete", movie, confirm: "Delete this movie?", method: :delete, class: "btn btn-danger"