!!!
- @title = "Request"
%h2 Request a movie
.row
  .span6.offset3
    = form_for @movie do |f|
      = f.label :title
      = f.text_field :title, placeholder: "Which movie would you like?"
      = f.label :year
      = f.text_field :year, placeholder: "When was it made?"
      = f.label :rec_form, "Format"
      = f.select :rec_form, options_for_select([['DVD', 'DVD-Rom'],['Digital copy', 'Digital Media'],['Blu-Ray', 'Blu-Ray']])
      = f.label :active, "Add"
      = f.radio_button :active, true
      = f.label :active, "Request"
      = f.radio_button :active, false
      %br
      = f.submit "Request", class: "btn btn-primary"
    = link_to "Back", root_path, class: "btn btn-primary"